*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --width-toggle:29%;
    --height-toggle:100%;
    --border-radius-toggle:1.5rem;
}


.light-theme{
    --background-color:hsl(223, 17%, 84%);
    --background-color-calculator:hsl(240, 7%, 95%);
    --background-color-extra:hsl(0, 0%, 77%);
    --background-color-operator:hsl(35, 99%, 53%);
    --background-color-number:hsl(240, 7%, 95%);
    --color-operator-and-number:hsl(0, 0%, 0%);
    --color-previous-output:hsl(0, 1%, 56%);
    --shadow:hsla(0, 2%, 68%, 0.5);

    --background-color-number-active:hsl(0, 7%, 92%);
    --background-color-extra-active:hsl(0, 0%, 73%);
    --background-color-operator-active:hsl(35, 100%, 48%);

    --delete-symbol:url(/assets/images/light-theme-delete-symbol.png);

    --toggle-fill-color:hsl(0, 17%, 92%);
    --toggle-shadow:hsla(0, 0%, 0%, 0.25);
}

.dark-theme{
    --background-color:hsl(225, 11%, 30%);
    --background-color-calculator:hsl(218, 11%, 15%);
    --background-color-extra:hsl(0, 0%, 71%);
    --background-color-operator:hsl(35, 99%, 53%);
    --background-color-number:hsl(218, 11%, 15%);
    --color-operator-and-number:hsl(0, 0%, 100%);
    --color-previous-output:hsl(0, 1%, 54%);
    --shadow:hsl(0, 2%, 9%);

    --background-color-number-active:hsl(216, 9%, 11%);
    --background-color-extra-active:hsl(0, 1%, 59%);
    --background-color-operator-active:hsl(35, 96%, 43%);

    --delete-symbol:url(/assets/images/dark-theme-delete-symbol.png);

    --toggle-fill-color:hsl(0, 4%, 80%);
    --toggle-shadow:rgba(167, 164, 164, 0.5);
}

body{
    background-color: var(--background-color);
    width:100%;
    height:100vh;

    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;

    transition: ease-in-out 0.2s;
}

.flex{
    display:flex;
    flex-direction: column;
    justify-content:start;
    align-items:center;
}

.calculator{
    background-color: var(--background-color-calculator);
    max-width: 400px;
    min-width: 368px;
    max-height: 855px;
    min-height: 770px;
    width: 79vw;
    height: 170vw;
    border-radius: 2.21rem;
    justify-content: center;
}

.toggle__section{
    width: 80%;
    height:4.35%;
} 

.toggle{
    background-color: orange;
    width: 25%;
    height:var(--height-toggle);
    border-radius: var(--border-radius-toggle);
    display:inline-block;
    cursor:pointer;
} 

.toggle__input{
    display:none;
}

.toggle__fill{
    position:relative;
    left:1.5px;
    background-color: #c7c4c4;
    width:calc(var(--width-toggle)*1.65);
    height:var(--height-toggle);
    border-radius: var(--border-radius-toggle);
    transition: ease-in-out 0.2s;
}

.toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height:var(--height-toggle);
    width: var(--height-toggle);
    border-radius: var(--border-radius-toggle);
    background: var(--toggle-fill-color);
    box-shadow: 0 0 10px var(--toggle-shadow);
    transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
    background: orange;
}

.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height-toggle));
}

.output{
    width:80%;
    height:25%;
} 

.previous__output{
    width:100%;
    height:38%;
    text-align: right;
    padding-top:2.1rem;
    color:var(--color-previous-output);
} 

.current__output{
    width:100%;
    height:62%;
    font-size: 4.5rem;
    font-weight: 500;
    text-align: right;
    color:var(--color-operator-and-number);
    overflow: hidden;
} 


.buttons{
    width:80%;
    height:58%;
} 

.grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    column-gap: 0.88rem;
    row-gap:0.88rem;
}

.buttons__extra--delete, [data-button-extra], [data-button-number], [data-button-operator]{
    border:none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0.35rem 0.35rem 1rem 1px var(--shadow);
    cursor:pointer;
   
}
    
[data-button-number]:active, [data-button-number]:hover{
    background-color:var(--background-color-number-active);
}
[data-button-extra]:active, [data-button-extra]:hover{
    background-color:var(--background-color-extra-active);
}
[data-button-operator]:active, [data-button-operator]:hover{
    background-color:var(--background-color-operator-active);
}

.buttons__extra--delete:active{
    background-color:var(--background-color-number-active);
}

[data-button-number]{
    font-size: 1.75rem;
    background-color:var(--background-color-number);
    color:var(--color-operator-and-number);
}
[data-button-operator]{
    font-size: 2rem;
    background-color:var(--background-color-operator);
    color:var(--color-operator-and-number);
}

[data-button-extra]{
    font-size: 1.5rem;
    background-color:var(--background-color-extra);
}

.buttons__extra--delete{
    background-image: var(--delete-symbol);
    background-color:var(--background-color-number);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.buttons:nth-child(22){
    grid-column: 4;
}

@media (min-width:1024px) {
    body{
        align-items: center;
       
    }
   .calculator{ 
        max-width: 400px;
        min-width: 280px;
        max-height: 825px;
        min-height: 100px;
        width: 21%;
        height: 90vh;
        border-radius: 1.5rem;
   } 
}