*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --width:80%;
}

.light-theme{
    --background-color:hsl(224, 28%, 76%);
    --background-color-calculator:hsl(240, 7%, 95%);
    --background-color-extra:hsl(0, 0%, 77%);
    --background-color-operator:hsl(35, 99%, 53%);
    --background-color-number:hsl(240, 7%, 95%);
    --color-operator-and-number:hsl(0, 0%, 0%);
    --color-previous-output:hsl(0, 1%, 56%);
    --shadow:hsla(0, 2%, 68%, 0.5);
}

.dark-theme{
    --background-color:hsl(225, 11%, 30%);
    --background-color-calculator:hsl(218, 11%, 15%);
    --background-color-extra:hsl(0, 0%, 71%);
    --background-color-operator:hsl(35, 99%, 53%);
    --background-color-number:hsl(218, 11%, 15%);
    --color-operator-and-number:hsl(0, 0%, 100%);
    /* +++ */
    --color-previous-output:hsl(0, 2%, 73%);
    --shadow:hsl(0,2%,94%);
}

body{
    background-color: var(--background-color);
    width:100%;
    height:100vh;

    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.flex{
    display:flex;
    flex-direction: column;
    justify-content:start;
    align-items:center;
}

.calculator{
    background-color: var(--background-color-calculator);
    max-width: 400px;
    min-width: 368px;
    max-height: 855px;
    min-height: 770px;
    width: 79vw;
    height: 170vw;
    border-radius: 2.21rem;
    justify-content: center;
}

.toggle{
    background-color: red;
    width:var(--width);
    height:7%;
} 

.output{
    /* background-color: yellow; */
    width:var(--width);
    height:25%;
} 

.previous__output{
    /* background-color: pink; */
    width:100%;
    height:38%;
    text-align: right;
    padding-top:2.1rem;
    color:var(--color-previous-output);
} 

.current__output{
    /* background-color: fuchsia; */
    width:100%;
    height:62%;
    font-size: 4.5rem;
    font-weight: 500;
    text-align: right;
    color:var(--color-operator-and-number);
} 

.buttons{
    /* background-color: brown; */
    width:80%;
    height:58%;
} 

.grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    column-gap: 0.88rem;
    row-gap:0.88rem;
}

.buttons__extra--delete, .buttons__extra, .buttons__number, .buttons__operator{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    box-shadow: 0.35rem 0.35rem 1rem 1px var(--shadow);

    
}

.buttons__number{
    font-size: 1.75rem;
    background-color:var(--background-color-number);
    color:var(--color-operator-and-number);
}
.buttons__operator{
    font-size: 2rem;
    background-color:var(--background-color-operator);
    color:var(--color-operator-and-number);
}
.buttons__extra{
    background-color:var(--background-color-extra);
}
.buttons__extra--delete{
    background-image: url(./assets/images/delete-symbol.png);
    background-color:var(--background-color-extra);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;

}

.buttons__number--double{
    grid-column:span 2;
    width:100%;
    border-radius: 1.6rem;
    justify-content:start;
    padding-left:1.52rem;
    /* background-color:green; */
    /* display:absolute;
    left:0; */
}
.buttons:nth-child(22){
    grid-column: 4;
}

@media (min-width:1024px) {
    body{
        align-items: center;
       
    }
   .calculator{ 
        max-width: 400px;
        min-width: 280px;

        max-height: 825px;
        min-height: 100px;

        width: 21%;
        height: 90vh;

        border-radius: 1.5rem;

   } 
}